.container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.btns {
  position: fixed;
  right: 0;
  width: 22rem;
  height: 3rem;
  margin: 1rem;
}

.Schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
