@value mediaQuery992 from "../../common/size.css";
@value mediaQuery768 from "../../common/size.css";
@value mediaQuery320 from "../../common/size.css";

.Header {
  width: 100%;
  height: 50px;
  border-bottom: 1px rgb(224, 224, 224) solid;
}
.MainBar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.MainBar_nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.MainBar_nav_top {
  width: 12%;
  height: 100%;
  background-color: wheat;
}
.MainBar_nav_top_logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 22px;
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  margin-left: 6px;
  font-family: "icomoon" !important ;
}
.LogoBtn {
  background: none;
  border: none;
}

.MainBar_Menu_Aside {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.Menu {
  width: 70%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  background-color: pink;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.Menu_em {
  font-size: 8px;
  color: blue;
  margin-bottom: 10px;
}
.Menu_li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Menu_label {
  padding: 11px;
  font-size: 14px;
  text-decoration-line: none;
  color: black;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aside {
  width: 30%;
  height: 100%;
  background-color: purple;
}
.Aside_ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.Aside_li {
  display: flex;
  flex-direction: row;
}
.Aside_btn {
  border: none;
  background: none;
  cursor: pointer;
}
.Aside_em {
  font-size: 8px;
  color: blue;
  position: absolute;
}
.Aside_img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.Aside_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aside_line {
  height: 10px;
  border: 1px solid #e1e2e3;
  margin-right: 10px;
}
.Aside_left_btn {
  height: 30px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: mediaQuery992) {
  .MainBar_nav {
    flex-direction: column;
  }
  .MainBar_nav_top {
    width: 100%;
    height: 60px;
  }
  .MainBar_Menu_Aside {
    width: 100%;
  }
}
