path:hover {
  fill: rgb(196, 248, 118);
}
text {
  /* text태그가 잡히지않게 모든 브라우저에서 막아놓은 코드 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.contianer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(./images/SummerBackground.png);
  background-repeat: round;
  opacity: 0.9;
  position: relative;
}

/* 배경색 어둡게 */
.containerBR {
  filter: saturate(1.7);
}

.backButton {
  position: relative;
}

.post {
  position: absolute;
  width: 60%;
  height: 90%;
  left: 20%;
  top: 5%;
}

.spring {
  background-image: url(./images/SpringBackgorund.png);
}
.summer {
  background-image: url(./images/SummerBackground.png);
}
.fall {
  background-image: url(./images/FallBackgorund.png);
}
.winter {
  background-image: url(./images/WinterBackground2.png);
}
